@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h1>Please Login</h1>
<form asp-action="Login">
    <div asp-validation-summary="All"></div>
    <label asp-for="UserName"></label> <input asp-for="UserName" /> <br />
    <label asp-for="Password"></label> <input asp-for="Password" /> <br />
    <label asp-for="RememberMe"></label> <input asp-for="RememberMe" /> <br /> <br />
    <input type="submit" value="Login Now" />
</form>
