@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h1>Please Login</h1>
<form asp-action="Login">
    <label asp-for="UserName"></label> <input asp-for="UserName" /> <br />
    <label asp-for="Password"></label> <input asp-for="Password" /> <br />
    <label asp-for="RememberMe"></label> <input asp-for="RememberMe" /> <br /> <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="submit" value="Login Now" />
</form>
<br />
<h5>No account? <a asp-action="Register" asp-controller="Account">Click to Register</a></h5>
