@model Instructor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Instructor</title>
</head>
<body>
    <h1>Edit Instructor</h1>
    @if(Model == null)
    {
        <h2>Instructor not found</h2>
    }
    else
    {
        @*displays error messages (if any) all in one place*@
        <div asp-validation-summary="All"></div>

        <form asp-action="Edit" method="post">
            @*needed for model-binding so id passes to Delete action (don't want user to be able to edit the id value)*@
            @*without this, id would get reset to default value of zero*@
            <input asp-for="InstructorId" type="hidden"/> <br />

            <label asp-for="FirstName"></label> <input asp-for="FirstName" /> <span asp-validation-for="InstructorId"></span><br />
            @*the span tags display in-line validation error messages (if any)*@

            <label asp-for="LastName"></label> <input asp-for="LastName" /> <span asp-validation-for="InstructorId"></span><br />


            <label asp-for="IsTenured"></label> <input asp-for="IsTenured" /> <span asp-validation-for="InstructorId"></span><br />


            @*adding select tag for a drop-down menu*@
            <label asp-for="Position"></label> <select asp-for="Position" asp-items="Html.GetEnumSelectList(typeof(Level))"></select> <span asp-validation-for="InstructorId"></span><br />


            <label asp-for="HireDate"></label> <input asp-for="HireDate" /> <span asp-validation-for="InstructorId"></span><br />

            @*submit data to server (needs to be within form tags)*@
            <input type="submit" value="Save Changes" />

            @*To cancel and not post anything, just go back in the browser*@
            <input type="button" value="Cancel" onclick="history.back()">
        </form>
    }
</body>
</html>
