body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: red;
}

p{
    background-color: lightgray;
    width: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 30px;
}

#para2{
    background-color: yellow;}

.firstClass{text-align: right;}

p::first-letter{color:red;
    font-weight: bold;
    font-size: x-large;
}

/* for highlighting text in broswer */
::selection{background-color: aqua;}

/* h1,h2,h3,h4{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;} */

/* able to find sofia Google font due to link tag above style tag */
h1,h2,h3,h4{font-family: sofia;}