@model IEnumerable<Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Students</title>
</head>
<body>
    <h1>List of all students:</h1>
    @if (Model.Count() == 0)
    {
        <h3>No students found</h3>
    }
    else
    {
        <ul>
            @foreach (var student in Model)
            {
                <li>@student.FirstName @student.LastName GPA is @student.GPA</li>
            }
        </ul>
    }
</body>
</html>
